@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/*$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
*/

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    font-family: 'Shrikhand', sans-serif;
    text-align: center;
    margin: auto;
    height: 3rem;
    padding-bottom: 1rem;
    box-shadow: 0px 2px 2px rgb(168, 168, 168);
    background-color: white;
    position: relative;
}
.icone-arrow{
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    font-size: 2rem;
    color: rgb(102, 102, 102);
}
.img-fond{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}
main{
    margin: auto;
    background-color: rgb(243, 243, 243);
    width: 80%;
    border-radius: 3rem 3rem 0 0;
    padding: 2rem;
    position: relative;
    bottom: 4rem;
}
.title-page{
    display: flex;
    justify-content: space-between;
    font-family: 'Shrikhand', sans-serif;
    width: 100%;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.entrées{
    max-width: 30%;
}
.plats{
    max-width: 30%;
}
.desserts{
    max-width: 30%;
}
.btn-entrées, .btn-plats, .btn-desserts{
    background-color: rgb(250, 250, 250);
    padding: 1.5rem 1.5rem;
    border-radius: 1.5rem;
    max-width: 100%;
    height: 30px;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 2px rgb(168, 168, 168);
    cursor: pointer;
    display: flex;
}
.entrées h3, .plats h3, .desserts h3{
    border-bottom: 3px solid #99E2D0;
    width: 30px;
}
.btn-title{
    display: flex;
    flex-wrap: wrap;
    line-height: 0.5rem;
    width: 100%;
}
.btn-title h4{
    width: 100%;
    margin: 0;
}
.commande{
    text-align: center;
    margin-top: 2rem;
}
.btn-commande{
    background-color: #FF79DA;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;    
}
footer{
    background-color: rgb(49, 49, 49);
    padding: 2rem;
    color: white;
    margin: auto;
}
footer li{
    list-style-type: none;
}
ul{
    padding: 0;
}
footer p{
    font-family: 'Shrikhand', sans-serif;
    font-size: 20px;
}
.footer-icone-1{
    margin-right: 0.5rem;
}
.footer-icone-2{
    margin-right: 0.5rem;
    font-size: 10px;
}
.footer-liste{
    line-height: 1.5rem;
}
