.reserve__container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    &--btn{
        @include btn;
        width: 15rem;
        border-radius: 2rem;
        background: linear-gradient(to bottom right,$color-secondary, $color-primary );  
        color: white; 
        transition-duration: 0.5s;
        &:hover {
            background-color: lighten($color-primary, 10%);
            background-blend-mode: lighten;
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);   
        }
    }
}    
.operation__btn{
    @include btn;
    width: 25%;
    min-width: 16rem;
    margin-bottom: 1rem;
    list-style: none;
    counter-increment: repas;
    &:before {
        content: counter(repas);
        padding: 5px 10px;
        background: $color-primary;
        vertical-align: middle;
        border-radius: 3.75rem;
        font-weight: bold;
        color: white;
        position: relative;	
        right: 2rem;
    }
    &:hover { background-color:rgb(246, 235, 255) }  &:hover > i { color: $color-primary }
}
.btn__entrées, .btn__plats, .btn__desserts{
    @include meal;
    animation: appearance 2s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    .btn__title{
        line-height: 1.2;
        padding: 0 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        h4, p{
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .price{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 1.05rem;
        font-weight: bold;
        transform: translateX(2rem);
        transition: transform 330ms ease-in-out;
    }
    .btn__icone{
        font-size: 2rem;
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 4rem;
        background-color: #99E2D0;
        color: #fff;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        opacity: 1;
        box-sizing: border-box;
        transform: translateX(4rem);
        &--anime{
            vertical-align: middle;   
        }  
    }
    .container{
        display: flex;
        justify-content: flex-end;
        height: 100%;  
    }
    &:hover .price{
        transform: translate(-2rem);   
    }
    &:hover .btn__icone{
        transform: translate(0); 
        transition: transform 330ms ease-in-out;   
    }
    &:hover .btn__icone--anime{
        transform: rotate(360deg);
        transition: transform 500ms ease-in-out;
    }
    &:nth-child(2){
        animation: appearance 1s ease-in-out;
    }
    &:nth-child(3){
        animation: appearance 1.5s ease-in-out;
    }
}

.commande{
    width: 100%;
    display: flex;
    justify-content: center;
    &__btn{
        @include btn;
        width: 15rem;
        border-radius: 2rem;
        text-align: center;
        margin-top: 2rem;
        background: linear-gradient(to bottom right,$color-secondary, $color-primary );
        color: white;
        transition-duration: 0.5s;
        &:hover {
            background-color: lighten($color-primary, 10%);
            background-blend-mode: lighten;
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
        }  
    }
}