
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
main{
    margin: auto;
}
.main__menu{
    margin: auto;
    width: 80%;   
}
.restaurants{
    margin: auto 2rem;
}
footer li{
    list-style-type: none;
}



