@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
header{
    font-family: 'Shrikhand', sans-serif;
}
.reserve__subtitle{
    font-weight: 300;
}
.location{
    line-height: 3rem;
}
.operation__btn__title{
    font-weight: bold;
}
.resto__subtitle{
    line-height: 0.5;
}
.footer{
    color: white;
}
footer p{
    font-family: 'Shrikhand', sans-serif;
    font-size: 20px;
}
.icone__2 {
    font-size: 10px;
}