$color-primary: #9356DC !default;
$color-secondary: #FF79DA !default;
$color-tertiary: #99e2d0 !default;
$color-grey: #ebebeb !default;
$color-grey-light: #f3f3f3 !default;
$color-grey-dark: #7e7e7e !default;